# Mac folder information
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit tests
.cache/
.pytest_cache/
.tox/

# Coverage reports
htmlcov/
.coverage
coverage.xml
*,cover

# Sphinx documentation
docs/_build/
